@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');

/* 
    font-family: 'Handlee', cursive;
    font-family: 'Montserrat', sans-serif;
    color principal: #fa573a
    color principal transparente: #fa573a80
    color secundario: #21242e
    */

:root {
    --fuenteprincipal: 'Montserrat',
        sans-serif;

    --fuentesecundaria: 'Handlee', cursive;
    --colorprincipal: #fa573a;
    --colorprincipaltransparente: #fa573ad2;
    --colorsecundario: #21242e;
    --fontsize: 1em;
    --margingrid: 1em;
    --anchomax: 1100px
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}


html {
    /* generamos puntos de ancla fluido y animado */
    scroll-behavior: smooth;
}

body {
    font-family: var(--fuenteprincipal);
    font-size: var(--fontsize);
}

.container {
    max-width: var(--anchomax);
    margin: 0 auto;
}

/*Inicio header nav top*/

header .navtop {
    background-color: var(--colorsecundario);
    padding: 20px 10px;

}

header .navtop a {
    color: var(--colorprincipal);
    text-decoration: none;
}

header .navtop a i {
    font-size: 140%;
    padding: 10px;
}


header .navtop a span {
    display: none;
    color: white;
}

header .navtop .container {
    display: flex;
    justify-content: space-around;

}

/*Fin header nav top */


/*Inicio header nav */

header nav {
    padding: 20px 10px;
}

header nav:after {
    content: "";
    height: 0;
    display: block;
    clear: both;
}

header nav .logo {
    float: left;
    max-width: 100px;
}

header nav .hamburguesa {
    float: right;
    width: 2em;
}

header nav .hamburguesa div {
    border-top: 2px solid #aaa;
    margin-bottom: 0.625em;
}

header nav .menu {
    padding-top: 60px;
    text-align: center;
}

header nav .menu a {
    text-decoration: none;
    display: block;
    padding: 1.25em;
    color: #aaa;
    border-bottom: 1px solid #aaa;
}

header nav .menu li:last-child a {
    border-bottom: 0px solid #aaa;
}

header nav .menu a:hover,
header nav .menu .activo {
    color: var(--colorprincipal);
}

/*Fin header nav */


/*Inicio hero */

.hero {
    background-image: url(../images/fondo.jpg);
    height: 60vh;
    background-position: center center;
    background-size: cover;
    background-color: #777;
    background-blend-mode: multiply;
    display: flex;
}

.hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
}

.hero h1 {
    font-family: var(--fuentesecundaria);
    font-size: 2.25em;
    color: white;
}

.hero h2 {
    color: var(--colorprincipal);
    margin: var(--margingrid) 0;
    font-size: 1.25em;
    text-shadow: 1px 1px 2px black;
}

.hero p {
    font-size: 1.25em;
    color: white;
}

.boton {
    display: inline-block;
    background-color: var(--colorprincipal);
    color: white;
    padding: 1.15em;
    margin: var(--margingrid) 0;
    text-decoration: none;
    border: 1px solid var(--colorprincipal);
}

.boton:hover {
    background-color: transparent;
    border: 1px solid var(--colorprincipal);
    color: var(--colorprincipal);
}

.boton:hover i {
    transition: 0.5s;
    transform: translateX(5px) scale(1.20);
}

.hero .social {
    display: flex;
    width: 160px;
    justify-content: space-between;
}

.hero .social a {
    color: white;
    text-decoration: none;
    font-size: calc(2 * var(--fontsize));
}

/*Fin hero */

/*Inicio main*/

/*Inicio index*/
main section {
    padding: 2.25em 1em;
}

main h2 {
    color: black;
    font-family: var(--fuentesecundaria);
    font-size: 2em;
    text-align: center;
}

main h2 span {
    color: var(--colorprincipal);
}

main .underline {
    position: relative;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    color: #fa573a;
    font-weight: bold;
    margin-bottom: var(--margingrid);
}

main .underline hr {
    position: absolute;
    width: 100%;
    top: 7px;
    border-color: var(--colorprincipal);
}

main section .flex {
    display: flex;
    flex-wrap: wrap;
}

main section .flex article {
    margin: calc(2*var(--margingrid)) 0 0 0;
    width: 100%;
    border-bottom: 1px solid #aaa;
    padding-bottom: calc(2*var(--margingrid));
}

main section .flex article div i {
    border: 1px solid var(--colorprincipal);
    color: var(--colorprincipal);
    padding: 0.5em;
    font-size: 150%;
}

main section p {
    color: #777
}

.enlace {
    text-decoration: none;
    color: var(--colorprincipal);
    font-weight: 700;
    display: inline-block;
    margin-top: 0.5em;

}

.fa-truck {
    transform: rotateY(180deg);
}

main section article h3 {
    font-weight: 700;
    margin: 10px 0;
    font-size: 110%;
}

main #aboutus .columna {
    width: 100%;
    padding: 0.5em;
}

main #aboutus h3 {
    font-weight: 700;
    font-size: 1.25em
}

main #aboutus h4 {
    color: var(--colorprincipal);
    margin: var(--margingrid) 0;
    font-weight: bold;
}

main #aboutus figure {
    width: 90%;
    margin: 0 auto;
}

main #aboutus figure .marco {
    border: 3px solid var(--colorprincipal);
    transform: rotateZ(10deg);
    transition: 0.5s;
}

main #aboutus figure .marco img {
    transform: rotateZ(-10deg);
    transition: 0.5s;
}

main #aboutus figure:hover .marco,
main #aboutus figure:hover img {
    transform: rotateZ(0deg);
}

/*Fin index*/

/*Inicio Menu*/
#menu {
    background-color: #21242e;
    padding: 30px;
}

#menu .flex {
    display: flex;
}

#menu h2 {
    color: white;
}

#menu>div>div:last-child {
    padding: 20px 50px 0px 50px;
    flex-direction: column;
}

#menu>div>div:last-child>div:first-child {
    flex-direction: column;
}

#menu .container div:last-child div:first-child nav {
    padding-bottom: 20px;
}

.selector li {
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
}

.selector a {
    text-decoration: none;
    color: white;
}

.selector .activado {
    background-color: #fa573a;
}

#menu article.flex {
    flex-direction: column;
}

#menu article div.flex {
    flex-wrap: wrap;
}

#menu .container div:last-child div:last-child {
    padding-bottom: 20px;
}

#menu .container div:last-child div:last-child h4 {
    color: white;
    font-weight: 700;
}

#menu .container>div:last-child>div:first-child hr {
    display: block;
    width: 50px;
    border-color: #fa573a;
    margin: 15px 0;
}

#menu .container>div:last-child>div:first-child p {
    color: lightgrey;
}

#menu div:last-child>div:last-child.flex {
    flex-direction: column;
}

#menu article #menu article {
    padding: 20px;
}


#menu article h3 {
    display: block;
    width: 80%;
    color: white;
    font-weight: 700;
    padding: 15px 0;
}

#menu article span {
    display: block;
    width: 20%;
    color: #fa573a;
    font-weight: 700;
    padding: 15px 0px 15px 10px;
}

#menu article p {
    color: lightgrey;
    padding-bottom: 15px;
    font-size: 0.8em;
    width: 100%;
}

/*Fin Menu*/

/*Inicio Blog*/

#blog h1 {
    display: none;
}

#blog article:last-child {
    display: none;
}

#blog article h3 {
    display: inline-block;
    margin: 20px 0 0 0;
    font-size: 1.25em;
}

#blog article span {
    display: inline-block;
    color: var(--colorprincipal);
    font-weight: 700;
    margin: 15px 0;
}

.date {
    position: absolute;
    background-color: var(--colorprincipaltransparente);
    width: 4em;
    height: auto;
    text-align: center;
}

.date p {
    color: rgba(255, 255, 255, 0.973);
    font-weight: 700;
    margin: 10px;
}

/*Fin Blog*/

/* Fin main*/

/* Inicio footer*/

footer {
    background-color: var(--colorsecundario);
    color: white;
    padding: var(--margingrid) 0px;
    text-align: center;
    margin-top: calc(2*var(--margingrid));
}


footer a {
    color: var(--colorprincipal);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.arriba {
    position: fixed;
    bottom: 10px;
    right: 15px;
    font-size: 3em;
}

.arriba a {
    color: var(--colorprincipal);
}

/* Fin footer*/

/* Inicio tablet pequeña*/

@media(min-width: 600px) {
    main section .flex article {
        width: calc(50% - (2 * var(--margingrid)));
        margin: var(--margingrid);
        border-bottom: 0px;
        padding-bottom: 0;
        border-left: 1px solid #aaa;
        padding: 0 var(--margingrid);
    }

    main section .flex article:last-child {
        width: 100%;
    }

    main #aboutus .columna {
        width: 50%;
    }

    #menu article span {
        font-size: 1.5em;
    }
}

@media(min-width: 768px) {
    header .navtop a span {
        display: inline;
    }

    header .navtop a i {
        font-size: 120%;
    }

    header .navtop .container {
        justify-content: space-between;
    }

    main section .flex article,
    main section .flex article:last-child {
        width: calc(33.333% - (2*var(--margingrid)));
    }

    #blog .flex article {
        width: calc(50% - (2*var(--margingrid)));
    }

    #menu article span {
        font-size: 2em;
    }

}

/* Inicio tablet grande */

@media(min-width: 1004px) {

    header .hamburguesa {
        display: none
    }

    header nav .menu {
        padding-top: 0;
        text-align: left;
        float: right;
    }

    header nav .menu li {
        display: inline-block;
    }

    header nav .menu a {
        border-bottom: 0px;
        padding: 0.625em 1.25em;
    }

    #blog article:last-child {
        display: block
    }

    #blog .flex article {
        width: calc(33.333% - (2*var(--margingrid)));
    }

    /* 
    #menu .container>div:last-child {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #menu .container>div:last-child>div:first-child {
        width: 20%;
    }

    #menu .container div:last-child div:first-child div {
        margin-top: 40px;
    }

    #menu>div>div:last-child {
        flex-direction: ro;

    } 
    */
}